

mat-spinner {
  margin: auto;
}


/*form{
  width: 300px;
  padding: 40px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-5%);
  background: rgba(88, 255, 96, 0.55);
  text-align: center;
}
*/

mat-card {
  max-width: 400px;
  margin: 2em auto;
  text-align: center;
  width: 300px;
  padding: 40px;
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%,-50%);
  background: rgba(255, 252, 250, 0.98);
  border-radius: 20px;


}

.mat-form-field {
  font-family: myFirstFont, sans-serif;
  font-weight: 300;
  padding: 20px 1rem;
}
.full-width-input {
  width: 100%;
}

.mat-raised-button {

  color: #161511;
background-color: rgba(217, 181, 119, 0.54);
  font-family: myFirstFont, sans-serif;
  font-weight: 300;
  border-radius: 20px;

}









