


<div style="background-color: rgba(255,255,255,0.96)" class="row justify-content-center">
  <div  class="col-lg-8 text-center">

    <h2>Line-Chart</h2>
    <p>the number of comments per day</p>



      <div class="col-sm-12 text-center">
        <svg style="object-fit: cover" width="960" height="500"></svg>
        <!--        <canvas baseChart-->
        <!--                [data]="dataSource"-->
        <!--                [labels]="barChartLabels"-->
        <!--                [chartType]="barChartType"-->
        <!--                [legend]="barChartLegend"-->
        <!--                [options]="barChartOptions">-->
        <!--        </canvas>-->
      </div>



  </div>
</div>
