

<div class="row justify-content-center">
  <div style="background-color: rgba(255,255,255,0.96)" class="col-lg-8 text-center">

<h2>Bar-Chart</h2>
<p>the number of negative and positve comments</p>

  <div class="container h-100">

      <div class="col-sm-12 text-center">
        <svg  width="400" height="400"></svg>
        <!--        <canvas baseChart-->
        <!--                [data]="dataSource"-->
        <!--                [labels]="barChartLabels"-->
        <!--                [chartType]="barChartType"-->
        <!--                [legend]="barChartLegend"-->
        <!--                [options]="barChartOptions">-->
        <!--        </canvas>-->
      </div>
  </div>


</div>
</div>

